APIs Anypoint Studio/tt_external_system/src/main/mule/global/wanderlog_external_system.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="globalFlow" doc:id="2931a74e-9e24-4c37-9774-39f53d9a6a14" >
		<http:listener doc:name="Listener" doc:id="0a2d6117-40ae-4454-9922-466549d29353" config-ref="HTTP_Listener_config" path="${http.listener.path}" >
			<http:error-response statusCode="#[vars.statusCode as number]" >
				<http:body ><![CDATA[#[vars.errorMsg default "Critical Error"]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="7ad4d615-e124-4e08-b9e7-b36aeb51934a" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="serviceType" ><![CDATA[%dw 2.0
output application/json
---
attributes.uriParams.serviceType]]></ee:set-variable>
				<ee:set-variable variableName="transactionID" ><![CDATA[%dw 2.0
output application/json
---
attributes.headers.transactionID]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6cf099af-d606-4175-b3bc-336243182675" message="Request received for TravelTip external system for  transactionID:  #[vars.transactionID]"/>
		<choice doc:name="Choice" doc:id="4eceed22-56af-47ea-9a84-b861948f94be" >
			<when expression="#[vars.serviceType == 'routes']">
				<logger level="INFO" doc:name="Logger" doc:id="2b00e2d8-80f1-48b1-a441-0bc9bb9e099c" message="Routes call for TravelTip external system for  transactionID:  #[vars.transactionID]"/>
				<flow-ref doc:name="Flow Reference" doc:id="08ecb8ac-79f7-4531-b9b1-9cd62bc168f7" name="travelTip_getRoutes_implementationFlow"/>
			</when>
			<when expression="vars.serviceType == 'schedules'">
				<logger level="INFO" doc:name="Logger" doc:id="54182486-7cc3-4af5-9a1a-3a14ef244011" message="Schedule call for TravelTip external system for  transactionID:  #[vars.transactionID]"/>
				<flow-ref doc:name="Flow Reference" doc:id="5239212e-9028-447d-a9c3-7f358e1b1bac" name="travelTip_getSchedules_implementationFlow"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="04c3df31-208e-4cde-a5f8-ad2f22d84799" message="URI was not correct for TravelTip external system for  transactionID:  #[vars.transactionID]"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger1" doc:id="1a85a72a-5a51-4475-9eea-d4892e1e1aaa" message="Response sent for TravelTip external system for  transactionID:  #[vars.transactionID]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b07dd75a-69ec-4d6a-adee-6316078901cc" >
				<logger level="INFO" doc:name="Logger" doc:id="8868e328-d16f-44f5-8972-75697e6e7337" message="Error occured for TravelTip external system for  transactionID:  #[error.errorType]"/>
				<ee:transform doc:name="Transform Message" doc:id="59e305c0-5760-4a5d-af7a-fd2b1eecc3ef" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="statusCode" ><![CDATA[%dw 2.0
output application/json
---
500]]></ee:set-variable>
						<ee:set-variable variableName="errorMsg" ><![CDATA[%dw 2.0
output application/json
---
{
	"ErrorCode": "XE1263",
	"ErrorMessage": "Error in TravelTip System"
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
